body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*the code below was written by Joaquín Díaz*/


#navbardiv nav div{
  /*center div*/
  width: fit-content;
  margin: 0 auto;
  color: white;
  font-size: 30px;
}
#game .container{
  display:flex;
}
#game .container .board{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.placing{
  flex-grow: 1;
}
#game div .board .rowsTags{
  /*first matrix map parent div*/
  display: block;
  line-height: 40px;
}
#game div .board div div{
  /*second matrix map parent*/
  display: flex;
  line-height: 40px;
}
.rowsTags{
  display:block;
}
.rowTag{
  display: flex;
  background: gray;
  border-radius: 30%;
  width: 40px;
  height: 40px;
  justify-content:center;
  align-items: center;
}
.columnTag{
  background: gray;
  border-radius: 30%;
  display:flex;
  justify-content:center;
  align-items:center;
}
.space{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: white;
  border-radius: 30%;
}
.clicked{
  background: blue;
}
.show.ship{
  background: orange;
}
.clicked.ship{
  background: red;
}
img{
  border-radius: 30%;
}
#counter, #placingcounter{
  color: white;
}
.placing{
  height: 420px;
  width: 420px;
}
#horizontal{
  display: flex;
  justify-content: center;
  align-items: center;
}
#vertical{
  display: block;
  width: fit-content;
  margin: 0 auto;
}
.shipPart{
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background: orange;
  border-radius: 30%;
}
#placingMessage{
  color: white;
}